<li class="list-group-item">
  <% if activity.trackable.friend %>
    <%= link_to activity.owner.username, activity.owner %> se hizo amigo de: <%= link_to activity.trackable.friend.username, activity.trackable.friend %>
  <% end %>
</li>
