<div class="col-md-6 center-block no-float">
  <h1>Bienvenido :)</h1>
  <ul class="list-group">
    <% if usuario_signed_in? %>
      <%= render_activities(@actividades) %>
    <% end %>
  </ul>
</div>
