<h1>Listing Posts</h1>
<br>
<ul class="list-group">
	<% posts.each do |post|%>
		<li class="list-group-item">
			<%= link_to post.titulo, post %>
		</li>
	<% end %>
</ul>
<br>
<br>
<% if usuario_signed_in? %>
	<%= link_to 'Crear nuevo post', new_post_path %><br/>
<% end %>